<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Books</title>
</head>
<body>
<h1>Book List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Publisher</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">123</td>
        <td th:text="${book.title}"> Spring in Action</td>
        <td th:text="${book.publisher.name}">Wrox</td>
    </tr>
</table>
<br/>

<form th:method="POST" th:action="@{/books}" th:object="${newBook}">
    <label for="title">Enter title: </label>
    <input type="text" th:field="*{title}" id="title"/>

    <select th:field="*{publisher}">
    <option th:each="publisher : ${publishers}"
            th:value="${publisher}"
            th:text="${publisher.name}">Wireframe</option>
    </select>


    <br/>
    <input type="submit" value="Create!"/>
</form>


</body>
</html>