<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Authors</title>
</head>
<body>
<h1>Author List</h1>

<table>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.firstName}"> 123</td>
        <td th:text="${author.lastName}"> 456</td>
        <td><a th:href="@{/authors/edit/{id}(id=${author.getId()})}">Edit</a></td>
        <td><a th:href="@{/authors/{id}/delete(id=${author.getId()})}">Delete</a></td>
    </tr>
</table>
<br/>
<h2>Add new author</h2>
<form th:method="POST" th:action="@{/authors}" th:object="${newAuthor}">
    <label for="firstName">Enter first name: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <label for="lastName">Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>